linux/sinosecu sdk/PassportReader_V6.8.2.1_update3_64bit_ArmLinux/lib/Template/template.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<!ELEMENT FeaturePos EMPTY>
<!ATTLIST FeaturePos
	LeftTopX CDATA #REQUIRED
	LeftTopY CDATA #REQUIRED
	RightTopX CDATA #REQUIRED
	RightTopY CDATA #REQUIRED
	LeftBottomX CDATA #REQUIRED
	LeftBottomY CDATA #REQUIRED
	RightBottomX CDATA #REQUIRED
	RightBottomY CDATA #REQUIRED
	Width CDATA #REQUIRED
	Height CDATA #REQUIRED
>
<!ELEMENT DocCheckInfo EMPTY>
<!ATTLIST DocCheckInfo
	Index CDATA #REQUIRED
	CheckType CDATA #REQUIRED
	ImagePath CDATA #FIXED ""
>
<!ELEMENT MRTDTemplate (vecStandardImage, vecDocCheckInfo, vecFeaturePosGroup)>
<!ATTLIST MRTDTemplate
	MainID CDATA #REQUIRED
	SubID CDATA #REQUIRED
	Name CDATA #REQUIRED
>
<!ELEMENT StandardImage EMPTY>
<!ATTLIST StandardImage
	Name (白光图 | 紫外图 | 红外图) #REQUIRED
	LightType (1 | 2 | 3) #REQUIRED
	ImagePath CDATA #REQUIRED
>
<!ELEMENT FeaturePosGroup (FeaturePos+)>
<!ATTLIST FeaturePosGroup
	FeatureType CDATA #REQUIRED
>
<!ELEMENT vecDocCheckInfo (DocCheckInfo+)>
<!ELEMENT vecMRTDTemplate (MRTDTemplate+)>
<!ELEMENT vecStandardImage (StandardImage+)>
<!ELEMENT TemplateContainer (vecMRTDTemplate)>
<!ATTLIST TemplateContainer
	Version CDATA #REQUIRED
>
<!ELEMENT vecFeaturePosGroup (FeaturePosGroup+)>
